/* || COLORS */

/*
Yellow: #FFFFCC
Pink: #FFCCFF
Blue: #CCE6FF
Green: #CCFFCC
*/

/* || DESKTOP STYLES */

body,
p,
h1,
.text-button {
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

p {
    font-size: 2vh;
    letter-spacing: 0.1vh;
}

h1,
#main,
.section-title,
#section2-title,
.close-button {
    font-size: 5vh;
    letter-spacing: 0.2vh;
    line-height: 1vh;
}

body {
    background-attachment: fixed;
    background-image: url('images/cover-1920x1080.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#main {
    color: white;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}

#main hr {
    border-top: 1px white solid !important;
}

.text-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 5vh;
    letter-spacing: 0.2vh;
    line-height: 8vh;
    margin: 0;
    padding: 0;
}

.text-button:focus {
    outline: none;
}

.overlay {
    background-color: white;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.section-div {
    position: absolute;
    top: 15%;
    width: 100%;
}

.section-title {
    background-color: white;
    /* border-bottom: 1px solid; */
    /* box-shadow: 0 5px 5px -5px #999; */
    color: black;
    display: block;
    height: 11%;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 3;
}

.close-button {
    color: black;
    cursor: pointer;
    display: block;
    height: 11%;
    position: fixed;
    right: 0px;
    text-align: center;
    width: 10%;
    z-index: 4;
}

.section-color {
    height: auto;
    margin: auto;
    padding: 0;
    position: relative;
    width: 75%;
}

.section-text {
    color: black;
    font-family: 'Helvetica', sans-serif;
    font-size: calc(4vh * 0.7);
    height: 50%;
    letter-spacing: calc(0.2vh * 0.7);
    margin: auto;
    padding: 0;
    position: relative;
    text-align: left;
    width: 90%;
}

.full-width-image {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

audio {
    width: 75%;
}

#overlay2 img {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

* {
    /* Remove blue highlight of button on mobile */
    -webkit-tap-highlight-color: transparent;
}

/* || MOBILE STYLES */

@media screen and (max-width: 992px) {

    p {
        font-size: calc(2vh * 0.7);
        letter-spacing: calc(0.1vh * 0.7);
    }

    h1,
    #main,
    .section-title,
    #section2-title,
    .close-button {
        font-size: calc(5vh * 0.7);
        letter-spacing: calc(0.2vh * 0.7);
        line-height: calc(1vh * 0.7);
    }

    .text-button {
        font-size: calc(5vh * 0.7);
        letter-spacing: calc(0.2vh * 0.7);
        line-height: calc(8vh * 0.7);
    }

    .section-div {
        position: absolute;
        top: calc(15% * 0.7);
        width: 100%;
    }

    .section-text {
        font-size: calc(4vh * 0.7);
        letter-spacing: calc(0.2vh * 0.7);
    }

    .section-title,
    .close-button {
        height: calc(11% * 0.7);
    }

    .not-full-width-image {
        height: auto !important;
        width: 50% !important;
    }

    .bigger-text-on-smaller-screens {
        font-size: calc(5vh * 0.7);
        letter-spacing: calc(0.2vh * 0.7);
        padding: 0vw 10vw 0vw 10vw;
    }
}

@media screen and (max-width: 768px) {
    #overlay2 img {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -khtml-box-shadow: none;
        height: auto;
        width: 100%;
    }
}